* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 387.56px;
    background-color: #0020f4;
}
.container {
    display: flex;
    justify-content: space-evenly;
    width: 1475px;
    height: 91px;
    padding-top: 40px;
}
nav{
    display: flex;
    justify-content: center;
    align-items: center;
}
ul {
    display: flex;
    list-style-type: none;
    gap: 25px;
}
.menubar {
    text-decoration: none;
    font-size: 16px;
    color: #ffffff;
    font-family: "HelveticaNeueBold";
}
.menubar::after{
    content: "";
    display: block;
    width: 0;
    height: 1px;
    background: #ffffff;
    margin: auto;
    margin-top: 10px;
    transition: all .5s;
}
.menubar:hover::after{
    width: 70%;
}
.contact-button {
    background-color: #ffffff;
    color: #171717;
    border-radius: 28px;
    padding: 18px 40px;
    text-decoration: none;
    font-size: 16px;
    font-family: "HelveticaNeueBold";
    transition: all .5s;
}
.contact-button:hover{
    background: #171717;
    color: #ffffff;
    
}
main {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: -215px;
}
.section-image {
    width: 100%;
    max-width: 1195px;
    height: 600px; /* height კარუსელის გამო მაქ სხვა სურათებმა რომ არ არიოს დიზაინი */
    border-radius: 28px;
}
.section-title {
    color: #171717;
    font-size: 28px;
    font-family: HelveticaNeueBold;
    margin-top: 30px;
    margin-bottom: 60px;
}
.carousel {
    display: flex;
    column-gap: 25px;
}
.carousel-images {
    width: 219px;
    height: 219px;
    border-radius: 28px;
}
.info {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 60px;
}
p {
    width: 951px;
    margin-top: 18px;
    color: #171717;
    font-size: 16px;
    font-family: HelveticaNeue;
}
.read-more {
    padding: 18px 67px;
    border-radius: 28px;
    border: 0px;
    background-color: #0a22f4;
    color: #ffffff;
    margin-top: 60px;
}
footer {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 1080px;
    background-color: #0020f4;
    margin-top: 180px;
    position: relative;
}
.left {
    margin-left: 240px;
    position: relative;
}
.contact {
    color: #ffffff;
    font-size: 32px;
    font-family: elveticaNeueBold;
    margin-top: 275px;
}
.footer-info {
    width: 463px;
    color: #ffffff;
    font-size: 16px;
    font-family: HelveticaNeue;
    margin-top: 30px;
    margin-bottom: 58px;
}
.map {
    border-radius: 15px;
    box-shadow: -10px 10px #ffffff;
}
.map-left {
    width: 240px;
    height: 333px;
    background: linear-gradient(270deg, #ffffff 0%, #0a22f4 100%);
    opacity: 0.1;
    transform: rotate(240deg);
    position: absolute;
    top: 524px;
    left: 20px;
}
.map-bottom {
    width: 689px;
    height: 150px;
    background: linear-gradient(180deg, #ffffff 0%, #0a22f4 100%);
    opacity: 0.1;
    transform: rotate(150deg);
    position: absolute;
    top: 707px;
    left: 0px;
}

.contact-info {
    width: 100%;
    display: flex;
    margin-top: 60px;
}
span {
    display: flex;
    align-items: center;
    height: 70px;
    font-size: 22px;
    color: #ffffff;
    font-family: HelveticaNeueBold;
}
.left-sp {
    margin-left: 98px;
}
.phone {
    border-radius: 50%;
    padding: 22px;
    background-color: #ffffff;
    margin-right: 20px;
}
.email {
    border-radius: 50%;
    padding: 22px;
    background-color: #ffffff;
    margin-right: 20px;
}
.circle {
    width: 460px;
    height: 401px;
    border-bottom-left-radius: 100%;
    background: linear-gradient(180deg, #ffffff 0%, #ffffff 0%, #0a22f4 100%);
    opacity: 0.1;
    position: absolute;
    right: 0px;
}
.phone-bottom {
    width: 70px;
    height: 170px;
    background: linear-gradient(180deg, #ffffff 0%, #0a22f4 100%);
    opacity: 0.1;
    position: absolute;
    top: 767px;
    left: 240px;
}
.email-bottom {
    width: 70px;
    height: 170px;
    background: linear-gradient(180deg, #ffffff 0%, #0a22f4 100%);
    opacity: 0.1;
    position: absolute;
    top: 767px;
    left: 606px;
}
.right {
    margin-top: 373px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    position: relative;
    right: 240px;
}
form {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
label {
    font-size: 16px;
    font-family: HelveticaNeueBold;
    color: #ffffff;
}
input {
    width: 463px;
    height: 40px;
}
#text {
    height: 120px;
    margin-bottom: 40px;
    resize: none;
}
.inputs {
    border: 0px;
    background-color: #0a22f4;
    outline: none;
    color: #ffffff;
    font-family: HelveticaNeueBold;
    font-size: 28px;
    border-bottom: 1px solid #ffffff;
    margin-bottom: 40px;
}
.send {
    padding: 18px 40px;
    background: #ffffff;
    color: #171717;
    border-radius: 28px;
    border: 0px;
    font-size: 16px;
    font-family: HelveticaNeueBold;
}
.line{
    width: 1439px;
    height: 1px;
    background-color: #ffffff;
    margin-top: 72px;
    position: absolute;
    top: 980px;
    left: 8%;
}
.footer-end{
    width: 1439px;
    height: 99px;
    display: flex;
    justify-content: center;
    align-items: center;
}
